<html>

    <head>
        <title>
            <%= title  %>
        </title>
        <link rel = "stylesheet" type="text/css" href="/css/header.css">
        <link rel = "stylesheet" type="text/css" href="/css/footer.css">
        
        <link rel="stylesheet" type="text/css" href="/css/layouts.css">
        <%- style %>
    </head>

    <body id = "layout-main">
        <%- include('_header'); %>
        <% if (flash.success && flash.success.length>0){ %>
            <h5>
                <%= flash.success %>
            </h5>
            <% } %>


        <%- body %>
        <%- include('_footer'); %>
        <%- script %>
    </body>
</html>
